.tray {
    width:  1160px;
}

.slot {
    display: block;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 57px;
    height: 57px;
    float: left;
    padding: 3px;
    margin: .5px;
    text-align: right;
    line-height: 10px;
    font-size: 11px;
}

.defectCode {
  font-weight: bold;
  line-height: 17px;
  color: red;
}

.en {
    color: blue;
}

.has-change {
    background-color: lightpink;
}

.slot-active {
    border: 2px solid aqua;
}

.defect-group {
    display: block;
}

.defect {
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  width: 161px;
  height: 50px;
  line-height: 25px;
  float: left;
  color: yellow;
  font-size: 15px;
}

.modal-footer {
    clear: both;
}

.row {
    clear: both;
    margin-top: 10px;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
}

.lbl {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.form-control {
    background-color: #ffc;
}